.cardDetails{
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.cardContainerOne{
  height: 650px;
  border-radius: 10px;
}

.cardContainerTwo{
  height: 250px;
  border-radius: 10px;
}

.detailsWrapper{
  height: 700px;
  align-items: center;
}

.leftImg{
  min-height: 500px;
  /* background-color: #000; */
  display: flex;
  align-items: center;
}